
      
      
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">BEYONCÉ</a>
          <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                
                  <nav class="nav">
                    <a class="btn btn-outline-dark me-md-3" aria-current="page" routerLink="">Home</a>
                    <a class="btn btn-outline-dark me-md-3" routerLink="/contato">Contato</a>
                    <a class="btn btn-outline-dark me-md-3" routerLink="/planos">Blog</a>
                    
                  </nav>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </form>
        </div>
      </nav>
      
      